<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">
	<insert id="boardWrite" parameterType="java.util.Map">
		INSERT INTO board(seq,id,name,email,subject,content,ref) 
		values(seq_board.nextval, #{id}, #{name}, #{email}, #{subject}, #{content}, seq_board.currval)
	</insert>
	
	<select id="boardList" parameterType="java.util.Map" resultType="boardDTO">
		select * from (select rownum rn, tt.* 
						from (select * from board order by ref desc, step asc)tt )
						where rn<![CDATA[>=]]>#{startNum} and rn<![CDATA[<=]]>#{endNum}
	</select>
	
	<select id="getBoard" parameterType="int" resultType="boardDTO">
		select * from board where seq=#{seq}
	</select>
	
	<select id="getBoardTotalA" resultType="int">
		select count(*) from board
	</select>
	
	<update id="boardModify" parameterType="java.util.Map">
		UPDATE board SET subject=#{subject}, content=#{content}, logtime=SYSDATE WHERE seq=#{seq}
	</update>

	<update id="boardHit" parameterType="int">
		UPDATE board SET hit=hit+1 WHERE seq=#{seq}
	</update>	
	
	<!-- 답글쓰기 -->
	
	<update id="boardReply1" parameterType="boardDTO">
		update board set step=step+1 where ref=#{ref} and step>#{step}
	</update>
	
	<insert id="boardReply2" parameterType="java.util.Map">
		insert into board values(seq_board.nextval,#{id},
								#{name},#{email},#{subject},
								#{content},#{ref},#{lev},#{step},
								#{pseq},0,0,sysdate)
	</insert>
	
	<update id="boardReply3" parameterType="boardDTO">
		update board set reply=reply+1 where seq=#{seq}
	</update>
	
	<!-- 삭제 -->	
	<delete id="boardDelete" parameterType="int">
		begin
			update board set reply=reply-1 where seq=(select pseq from board where seq=#{seq});
			update board set subject = '[원글이 삭제된 답글]'||subject where pseq=#{seq};
			delete board where seq=#{seq};		
		end;
	</delete>

</mapper>
